<div class ="card employee-card" style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);">
    <div class="card-header" style="background: rgb(207, 103, 103);">
        <h2 class="card-title">{{role}}</h2>
       </div>
       <div class="card-body">
           <ul class="list-group">
            <li class="list-group-item">Name:{{name}}</li>
               <li class="list-group-item">Id:{{id}}</li>
               <li class="list-group-item">Email: <a href="mailto:{{email}}">{{email}}</a></li>
               <li class="list-group-item">GitHub: <a href="https://github.com/{{github}}" target="_blank" rel="noreferrer">{{github}}</a></li>
           </ul>
       </div>
</div>