<div class ="card employee-card">
    <div class="card-header">
        <h2 class="card-title">{{ name }}</h2>
       </div>
       <div class="card-body">
           <ul class="list-group">
               <li class="list-group-item">{{ id }}</li>
               <li class="list-group-item">Email: <a href="mailto:{{ email }}">{{ email }}</a></li>
               <li class="list-group-item">Call Me At: <a href="tell:{{ OfficeNumber }}">{{ OfficeNumber }}</a></li>
           </ul>
       </div>
</div>


