body {
    background-color: rgb(90, 148, 223);
}


header {
    padding: 60px;
    text-align: center;
    
    color: black;
    font-size: 30px;
}




.card.employee-card {
    margin: 10px;
}

@media screen and (max-width: 600px) {
    .card.employee-card {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  